header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 5em;
    margin: 0 auto;
}

img {
    margin-left: 5em;
}
.links {
    float: right;
    color: #838994;
    font-size: 1.25em;
    width: 80%;
    margin-top: 2em;
}

li,
.logo {
    display: inline;
    padding: 0em .75em;
    margin-top: 1.7em;
}

a,
a:active,
a:visited {
    text-decoration: none;
    color: #838994;
}

a:hover {
    color: black;
}

.introduction {
background-image: url(images/first-background.jpg);
background-position: center bottom;
background-repeat: no-repeat;
background-size: cover;
height: 45.938em;
overflow: auto;
}

@media only screen and (max-width: 650px) {
    .logo {
        display: none;
    }

    .links {
    	font-size: 1em;
        float: left;
        text-align: center;
    }

    li {
        padding-top: 5em;
    }

    header {
        margin-left: 0em;
    }

    .introduction {
        background-size: 45em;
        background-position: top;
    }
}
